.page-element .btn,
.page-element .contents,
.page-element.widget-form form,
.page-element.widget-form form input,
.page-element.widget-form form textarea,
.page-element.widget-form form select,
.page-element.widget-form form label
{
    font-family: Open Sans;
    font-weight: 400;
}

.page-element.widget-headline .contents h1,
.page-element.widget-headline .contents h2,
.page-element.widget-headline .contents h3,
.page-element.widget-headline .contents h4,
.page-element.widget-headline .contents h5,
.page-element.widget-headline .contents h6
{
    font-family: Ubuntu;
    font-weight: 500;
}

[id^=___plusone] { width:51px !important; }

div.social.lines [id^=___plusone] { width:62px !important; }
div.social.lines span[class^=IN-widget] { min-width:70px !important; }
div.social.buttons [id^=___plusone] { width:36px !important; }
div.social.buttons div[class^=fb-like] { width:58px !important; }
div.social.tiles [id^=___plusone] { height:63px !important; margin-top: 2px !important; }
div.social.tiles .fb-like iframe { margin-top: 1px !important; }

.widget-testimonial.style-1 .contents div.testimonial-text
{
    margin-top: 0;
}

@media screen and (max-width: 768px)
{
    .notification > .notification-inner
    {
        width: auto;
        position: fixed;
        top: 40%;
        left: 1em !important;
        right: 1em !important;
        font-size: 24px;
    }
}

/* Safari only fix */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    .widget-form .select-outer select
    {
        padding-left: 10px;
    }

    .widget-form.mobile-form .select-outer select
    {
        padding-left: 10px;
    }
}
body
{
    background-color: #ffffff;
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
.page .page-block .block-inner { background-color: transparent; }
#element-86
{
    height: 18px;
    width: 959px;
    left: 0px;
    top: 308px;
    z-index: 3;
}

#element-86 p, #element-86 ul, #element-86 ol, #element-86 h1
{
    font-size: 13px;
    color: rgb(109, 198, 217);
    line-height: 18px;
    text-align: center;
}

#element-283
{
    height: 39px;
    width: 424px;
    left: 268px;
    top: 51px;
    z-index: 4;
}

#element-283 p, #element-283 ul, #element-283 ol, #element-283 h1
{
    font-size: 28px;
    color: rgb(88, 88, 88);
    line-height: 39px;
    text-align: center;
}

#element-389
{
    height: 216px;
    width: 504px;
    left: 233px;
    top: 278px;
    z-index: 5;
}

#element-389 p, #element-389 ul, #element-389 ol, #element-389 h1
{
    font-size: 26px;
    color: rgb(255, 255, 255);
    line-height: 36px;
    text-align: center;
}

#element-278
{
    height: 27px;
    width: 223px;
    left: 62px;
    top: 465px;
    z-index: 6;
}

#element-278 p, #element-278 ul, #element-278 ol, #element-278 h1
{
    font-size: 19px;
    color: rgb(0, 117, 141);
    line-height: 27px;
    text-align: center;
}

#element-395
{
    height: 36px;
    width: 254px;
    left: 31px;
    top: 418px;
    z-index: 7;
}

#element-395 p, #element-395 ul, #element-395 ol, #element-395 h1
{
    font-size: 26px;
    color: rgb(0, 117, 141);
    line-height: 36px;
    text-align: center;
}

#element-396
{
    height: 36px;
    width: 232px;
    left: 363px;
    top: 419px;
    z-index: 8;
}

#element-396 p, #element-396 ul, #element-396 ol, #element-396 h1
{
    font-size: 26px;
    color: rgb(0, 117, 141);
    line-height: 36px;
    text-align: center;
}

#element-397
{
    height: 27px;
    width: 238px;
    left: 360px;
    top: 465px;
    z-index: 9;
}

#element-397 p, #element-397 ul, #element-397 ol, #element-397 h1
{
    font-size: 19px;
    color: rgb(0, 117, 141);
    line-height: 27px;
    text-align: center;
}

#element-403
{
    height: 27px;
    width: 238px;
    left: 673px;
    top: 465px;
    z-index: 10;
}

#element-403 p, #element-403 ul, #element-403 ol, #element-403 h1
{
    font-size: 19px;
    color: rgb(0, 117, 141);
    line-height: 27px;
    text-align: center;
}

#element-404
{
    height: 36px;
    width: 238px;
    left: 673px;
    top: 417px;
    z-index: 11;
}

#element-404 p, #element-404 ul, #element-404 ol, #element-404 h1
{
    font-size: 26px;
    color: rgb(0, 117, 141);
    line-height: 36px;
    text-align: center;
}

#element-444
{
    height: 68px;
    width: 81px;
    left: 60px;
    top: 42px;
    z-index: 12;
}

#element-444 img
{
    width: 81px;
    height: 68px;
}

#element-463
{
    height: 254px;
    width: 254px;
    left: 353px;
    top: 142px;
    z-index: 13;
}

#element-463 img
{
    width: 254px;
    height: 254px;
}

#element-464
{
    height: 254px;
    width: 254px;
    left: 665px;
    top: 142px;
    z-index: 14;
}

#element-464 img
{
    width: 254px;
    height: 254px;
}

#element-465
{
    height: 254px;
    width: 254px;
    left: 31px;
    top: 142px;
    z-index: 15;
}

#element-465 img
{
    width: 254px;
    height: 254px;
}

#element-466
{
    height: 88px;
    width: 88px;
    left: 75px;
    top: 502px;
    z-index: 16;
}

#element-466 img
{
    width: 88px;
    height: 88px;
}

#element-467
{
    height: 88px;
    width: 88px;
    left: 183px;
    top: 502px;
    z-index: 17;
}

#element-467 img
{
    width: 88px;
    height: 88px;
}

#element-469
{
    height: 88px;
    width: 88px;
    left: 435px;
    top: 502px;
    z-index: 18;
}

#element-469 img
{
    width: 88px;
    height: 88px;
}

#element-471
{
    height: 88px;
    width: 88px;
    left: 748px;
    top: 502px;
    z-index: 19;
}

#element-471 img
{
    width: 88px;
    height: 88px;
}

#element-472
{
    height: 34px;
    width: 959px;
    left: 0px;
    top: 58px;
    z-index: 20;
}

#element-472 p, #element-472 ul, #element-472 ol, #element-472 h1
{
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 34px;
    text-align: center;
}

#element-473
{
    height: 116px;
    width: 370px;
    left: 295px;
    top: 124px;
    z-index: 21;
}

#element-473 p, #element-473 ul, #element-473 ol, #element-473 h1
{
    font-size: 24px;
    color: rgb(0, 0, 0);
    line-height: 29px;
    text-align: center;
}

#element-474
{
    height: 35px;
    width: 126px;
    left: 485px;
    top: 58px;
    z-index: 22;
}

#element-474 img
{
    width: 126px;
    height: 35px;
}

#element-475
{
    height: 35px;
    width: 121px;
    left: 779px;
    top: 58px;
    z-index: 23;
}

#element-475 img
{
    width: 121px;
    height: 35px;
}

#element-476
{
    height: 35px;
    width: 110px;
    left: 640px;
    top: 58px;
    z-index: 24;
}

#element-476 img
{
    width: 110px;
    height: 35px;
}

#element-478
{
    height: 36px;
    width: 129px;
    left: 415px;
    top: 59px;
    z-index: 25;
}

#element-478 img
{
    width: 129px;
    height: 36px;
}

#element-479
{
    height: 36px;
    width: 127px;
    left: 416px;
    top: 184px;
    z-index: 26;
}

#element-479 img
{
    width: 127px;
    height: 36px;
}

#element-480
{
    height: 36px;
    width: 115px;
    left: 422px;
    top: 121px;
    z-index: 27;
}

#element-480 img
{
    width: 115px;
    height: 36px;
}

#element-483
{
    height: 39px;
    width: 424px;
    left: 258px;
    top: 50px;
    z-index: 28;
}

#element-483 p, #element-483 ul, #element-483 ol, #element-483 h1
{
    font-size: 28px;
    color: rgb(88, 88, 88);
    line-height: 39px;
    text-align: center;
}

#element-486
{
    height: 212px;
    width: 182px;
    left: 184px;
    top: 342px;
    z-index: 29;
}

#element-486 img
{
    width: 182px;
    height: 212px;
}

#element-487
{
    height: 196px;
    width: 143px;
    left: 588px;
    top: 148px;
    z-index: 30;
}

#element-487 img
{
    width: 143px;
    height: 196px;
}

#element-488
{
    height: 106px;
    width: 301px;
    left: 125px;
    top: 193px;
    z-index: 31;
}

#element-488 img
{
    width: 301px;
    height: 106px;
}

#element-490
{
    height: 92px;
    width: 401px;
    left: 459px;
    top: 402px;
    z-index: 32;
}

#element-490 img
{
    width: 401px;
    height: 92px;
}


#page_block_header { height: 152px; }

#page_block_header .border-holder
{
    background-image: url("../resources/21477051-0-Header-pic.jpg");
    background-color: #9dd0cf;

    background-repeat: repeat;
    background-position: bottom center;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 152px;

    background-attachment: fixed;
}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page_block_header .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: #0060ff;
    opacity: 0;
}

#page_block_header .block-inner
{
    margin-top: 0px;
}


#page-block-al03jim0q3 { height: 571px; }

#page-block-al03jim0q3 .border-holder
{
    background-image: none;

    background-color: #00758d;

    background-repeat: repeat;						background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 571px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-al03jim0q3 .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-al03jim0q3 .block-inner
{
    margin-top: 0px;
}


#page-block-gqxahxbfw6bqhxgujrer35wmi { height: 655px; }

#page-block-gqxahxbfw6bqhxgujrer35wmi .border-holder
{
    background-image: none;

    background-color: #ffffff;

    background-repeat: repeat;						background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 655px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-gqxahxbfw6bqhxgujrer35wmi .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-gqxahxbfw6bqhxgujrer35wmi .block-inner
{
    margin-top: 0px;
}


#page-block-8x0mb1ou9c6 { height: 629px; }

#page-block-8x0mb1ou9c6 .border-holder
{
    background-image: none;

    background-color: rgba(0,0,0,0);

    background-repeat: repeat;						background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 629px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-8x0mb1ou9c6 .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-8x0mb1ou9c6 .block-inner
{
    margin-top: 0px;
}


#page-block-hvjz0psjsvyujtt9 { height: 338px; }

#page-block-hvjz0psjsvyujtt9 .border-holder
{
    background-image: none;

    background-color: #000000;

    background-repeat: repeat;						background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 338px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-hvjz0psjsvyujtt9 .color-overlay
{
    display: none;
}

#page-block-hvjz0psjsvyujtt9 .block-inner
{
    margin-top: 0px;
}


@media
screen and (max-width: 620px),
screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1280px ) and (max-device-height: 720px),
screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1000px )
{
    body
    {
        min-width: 400px;
        width: 100%;
    }
    .page.page2
    {
        width: 100%;
    }
    .page.page2 .block-inner
    {
        width: 400px;
        margin: 0 auto;
    }
    .page.page2.new-mobile-preview .block-inner
    {
        width: auto;
    }


    .widget-form .field-checkbox .field-element label:before,
    .widget-form .field-radio .field-element label:before
    {
        top: 16px;
    }
    .widget-form .field-checkbox .field-element label:after
    {
        top: 21px;
    }

    .widget-form .field-radio .field-element label:after
    {
        top: 16px;
    }

    .widget-form .select-outer
    {
        overflow: hidden;
        margin-bottom: 8px;
        margin-top: 8px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

    .widget-form .select-outer select
    {
        width: calc( 100% - 1px );
        height: 56px;
        border: 0;
        margin: 0;
        -webkit-appearance: none;
        line-height: 30px;
        border-style: solid;
        border-width: 1px;
        background-position: right;
        background-repeat: no-repeat;
    }
    .widget-form .form-input[type="text"],
    .widget-form .form-input[type="password"],
    .widget-form .form-input[type="email"],
    .widget-form textarea.form-input
    {
        padding-top: 12px;
        padding-bottom: 9px;
        font-size: 20px;
        line-height: 22px;
        height: 56px;
        -webkit-appearance: none;
    }

    .widget-form .label-outside,
    .widget-form .outside-top,
    .widget-form .field-element label
    {
        font-size: 20px;
        line-height: 22px;
        padding-top: 12px;
        padding-bottom: 9px;
    }

    .widget-form select
    {
        font-size: 20px;
        height: 56px;
        padding-left: 9px;
        width: calc( 100% + 2px );
        -moz-padding-start: 5px;
    }

    .widget-form .input-holder.field-checkbox > label.outside-top,
    .widget-form .input-holder.field-radio > label.outside-top,
    .widget-form .field-container.edit.field-checkbox > label.label-outside,
    .widget-form .field-container.edit.field-radio > label.label-outside
    {
        margin-top: 8px;
        margin-bottom: 2px;
    }

    .widget-form .form-option-element label,
    .widget-form .field-element label
    {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: 0;
        margin-bottom: 0px;
    }

    .new_mobile .widget-form textarea.form-input.shortnice
    {
        height: 56px;
    }


    #element-444
    {
        height: 68px;
        width: 81px;
        left: 159px;
        top: 40px;
        z-index: 12;
    }

    #element-444 img
    {
        width: 81px;
        height: 68px;
    }

    #element-474
    {
        height: 31.39px;
        width: 113px;
        left: 143px;
        top: 148px;
        z-index: 22;
    }

    #element-474 img
    {
        width: 113px;
        height: 31.39px;
    }

    #element-476
    {
        height: 32.14px;
        width: 101px;
        left: 149px;
        top: 206px;
        z-index: 24;
    }

    #element-476 img
    {
        width: 101px;
        height: 32.14px;
    }

    #element-475
    {
        height: 32.11px;
        width: 111px;
        left: 144px;
        top: 262px;
        z-index: 23;
    }

    #element-475 img
    {
        width: 111px;
        height: 32.11px;
    }

    #element-472
    {
        height: 24px;
        width: 360px;
        left: 20px;
        top: 70px;
        z-index: 20;
    }

    #element-472 p, #element-472 ul, #element-472 ol, #element-472 h1
    {
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 24px;
        text-align: center;
    }

    #element-473
    {
        height: 88px;
        width: 360px;
        left: 20px;
        top: 134px;
        z-index: 21;
    }

    #element-473 p, #element-473 ul, #element-473 ol, #element-473 h1
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: center;
    }

    #element-389
    {
        height: 234px;
        width: 301px;
        left: 64px;
        top: 266px;
        z-index: 5;
    }

    #element-389 p, #element-389 ul, #element-389 ol, #element-389 h1
    {
        font-size: 22px;
        color: rgb(255, 255, 255);
        line-height: 26px;
        text-align: center !important;
    }

    #element-283
    {
        height: 27px;
        width: 399px;
        left: 0px;
        top: 45px;
        z-index: 4;
    }

    #element-283 p, #element-283 ul, #element-283 ol, #element-283 h1
    {
        font-size: 22px;
        color: rgb(88, 88, 88);
        line-height: 27px;
        text-align: center;
    }

    #element-465
    {
        height: 254px;
        width: 254px;
        left: 73px;
        top: 124px;
        z-index: 15;
    }

    #element-465 img
    {
        width: 254px;
        height: 254px;
    }

    #element-463
    {
        height: 254px;
        width: 254px;
        left: 73px;
        top: 596px;
        z-index: 13;
    }

    #element-463 img
    {
        width: 254px;
        height: 254px;
    }

    #element-464
    {
        height: 254px;
        width: 254px;
        left: 73px;
        top: 1071px;
        z-index: 14;
    }

    #element-464 img
    {
        width: 254px;
        height: 254px;
    }

    #element-404
    {
        height: 36px;
        width: 399px;
        left: 0px;
        top: 1327px;
        z-index: 11;
    }

    #element-404 p, #element-404 ul, #element-404 ol, #element-404 h1
    {
        font-size: 26px;
        color: rgb(0, 117, 141);
        line-height: 36px;
        text-align: center;
    }

    #element-395
    {
        height: 36px;
        width: 399px;
        left: 0px;
        top: 378px;
        z-index: 7;
    }

    #element-395 p, #element-395 ul, #element-395 ol, #element-395 h1
    {
        font-size: 26px;
        color: rgb(0, 117, 141);
        line-height: 36px;
        text-align: center;
    }

    #element-396
    {
        height: 36px;
        width: 399px;
        left: 0px;
        top: 852px;
        z-index: 8;
    }

    #element-396 p, #element-396 ul, #element-396 ol, #element-396 h1
    {
        font-size: 26px;
        color: rgb(0, 117, 141);
        line-height: 36px;
        text-align: center;
    }

    #element-278
    {
        height: 27px;
        width: 400px;
        left: 0px;
        top: 419px;
        z-index: 6;
    }

    #element-278 p, #element-278 ul, #element-278 ol, #element-278 h1
    {
        font-size: 19px;
        color: rgb(0, 117, 141);
        line-height: 27px;
        text-align: center;
    }

    #element-397
    {
        height: 27px;
        width: 399px;
        left: 0px;
        top: 894px;
        z-index: 9;
    }

    #element-397 p, #element-397 ul, #element-397 ol, #element-397 h1
    {
        font-size: 19px;
        color: rgb(0, 117, 141);
        line-height: 27px;
        text-align: center;
    }

    #element-403
    {
        height: 27px;
        width: 399px;
        left: 0px;
        top: 1373px;
        z-index: 10;
    }

    #element-403 p, #element-403 ul, #element-403 ol, #element-403 h1
    {
        font-size: 19px;
        color: rgb(0, 117, 141);
        line-height: 27px;
        text-align: center;
    }

    #element-466
    {
        height: 88px;
        width: 88px;
        left: 101px;
        top: 450px;
        z-index: 16;
    }

    #element-466 img
    {
        width: 88px;
        height: 88px;
    }

    #element-467
    {
        height: 88px;
        width: 88px;
        left: 210px;
        top: 450px;
        z-index: 17;
    }

    #element-467 img
    {
        width: 88px;
        height: 88px;
    }

    #element-469
    {
        height: 88px;
        width: 88px;
        left: 156px;
        top: 925px;
        z-index: 18;
    }

    #element-469 img
    {
        width: 88px;
        height: 88px;
    }

    #element-471
    {
        height: 88px;
        width: 88px;
        left: 156px;
        top: 1408px;
        z-index: 19;
    }

    #element-471 img
    {
        width: 88px;
        height: 88px;
    }

    #element-483
    {
        height: 27px;
        width: 360px;
        left: 20px;
        top: 40px;
        z-index: 28;
    }

    #element-483 p, #element-483 ul, #element-483 ol, #element-483 h1
    {
        font-size: 22px;
        color: rgb(88, 88, 88);
        line-height: 27px;
        text-align: center;
    }

    #element-487
    {
        height: 196px;
        width: 143px;
        left: 128px;
        top: 263px;
        z-index: 30;
    }

    #element-487 img
    {
        width: 143px;
        height: 196px;
    }

    #element-488
    {
        height: 106px;
        width: 301px;
        left: 49px;
        top: 120px;
        z-index: 31;
    }

    #element-488 img
    {
        width: 301px;
        height: 106px;
    }

    #element-486
    {
        height: 212px;
        width: 182px;
        left: 109px;
        top: 515px;
        z-index: 29;
    }

    #element-486 img
    {
        width: 182px;
        height: 212px;
    }

    #element-490
    {
        height: 82.59px;
        width: 360px;
        left: 20px;
        top: 781px;
        z-index: 32;
    }

    #element-490 img
    {
        width: 360px;
        height: 82.59px;
    }

    #element-478
    {
        height: 35.72px;
        width: 128px;
        left: 136px;
        top: 60px;
        z-index: 25;
    }

    #element-478 img
    {
        width: 128px;
        height: 35.72px;
    }

    #element-480
    {
        height: 35.69px;
        width: 114px;
        left: 143px;
        top: 123px;
        z-index: 27;
    }

    #element-480 img
    {
        width: 114px;
        height: 35.69px;
    }

    #element-479
    {
        height: 35.72px;
        width: 126px;
        left: 137px;
        top: 184px;
        z-index: 26;
    }

    #element-479 img
    {
        width: 126px;
        height: 35.72px;
    }

    #element-86
    {
        height: 18px;
        width: 360px;
        left: 20px;
        top: 301px;
        z-index: 3;
    }

    #element-86 p, #element-86 ul, #element-86 ol, #element-86 h1
    {
        font-size: 13px;
        color: rgb(109, 198, 217);
        line-height: 18px;
        text-align: center !important;
    }


    #page_block_header { height: 334px; }

    #page_block_header .border-holder
    {
        background-image: url("../resources/21477051-0-Header-pic.jpg");
        background-color: #9dd0cf;

        background-repeat: repeat;
        background-position: bottom center;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 334px;

        background-attachment: fixed;
    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page_block_header .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: #0060ff;
        opacity: 0;
    }

    #page_block_header .block-inner
    {
        margin-top: 0px;
    }


    #page-block-al03jim0q3 { height: 583px; }

    #page-block-al03jim0q3 .border-holder
    {
        background-image: none;

        background-color: #00758d;

        background-repeat: repeat;						background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 583px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-al03jim0q3 .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-al03jim0q3 .block-inner
    {
        margin-top: 0px;
    }


    #page-block-gqxahxbfw6bqhxgujrer35wmi { height: 1560px; }

    #page-block-gqxahxbfw6bqhxgujrer35wmi .border-holder
    {
        background-image: none;

        background-color: #ffffff;

        background-repeat: repeat;						background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 1560px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-gqxahxbfw6bqhxgujrer35wmi .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-gqxahxbfw6bqhxgujrer35wmi .block-inner
    {
        margin-top: 0px;
    }


    #page-block-8x0mb1ou9c6 { height: 933px; }

    #page-block-8x0mb1ou9c6 .border-holder
    {
        background-image: none;

        background-color: rgba(0,0,0,0);

        background-repeat: repeat;						background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 933px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-8x0mb1ou9c6 .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-8x0mb1ou9c6 .block-inner
    {
        margin-top: 0px;
    }


    #page-block-hvjz0psjsvyujtt9 { height: 333px; }

    #page-block-hvjz0psjsvyujtt9 .border-holder
    {
        background-image: none;

        background-color: #000000;

        background-repeat: repeat;						background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 333px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-hvjz0psjsvyujtt9 .color-overlay
    {
        display: none;
    }

    #page-block-hvjz0psjsvyujtt9 .block-inner
    {
        margin-top: 0px;
    }

}

@media
screen and (min-width: 621px)  and (-webkit-max-device-pixel-ratio: 1.5),
screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5)
{
    .new_mobile .page.page2.mobile .block-inner
    {
        width: 960px;
    }
}
