/* Downloaded from CDN */
/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */

body {
    width: 100%;
    font: 13px/19px Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    float: none;
    margin: 0 auto;
}

form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
/*input {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}*/
input[type=checkbox]{-webkit-appearance:checkbox;}
/*input[type=radio]{-webkit-appearance:radio;}*/
input:focus {border-color:#333;}
/*.button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: normal; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}*/
/*.button:hover {background-color:#777;}*/
.small-meta {font-size: 11px;}
.nowrap {white-space:nowrap;}

.mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
.size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
.mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
.mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

.datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
.datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
.phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
.datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
.datefield label, #mc_embed_signup .phonefield-us label{display:none;}

.indicates-required {text-align:right; font-size:11px; margin-right:4%;}
.asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}
.clear {clear:both;}

.mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
.mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
.mc-field-group.input-group label {display:inline;}
.mc-field-group.input-group input {display:inline; width:auto; border:none;}

div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mce-error-response {color: red; display:none;}
#mce-success-response {color:#529214; display:none;}
label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

/*#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}*/
#num-subscribers {font-size:1.1em;}
#num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

/*#mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}*/
#mc-embedded-subscribe-form div.mce_inline_error {display:none; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}
/*#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }*/
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

/* custom css styles */
.mc-field-group label {
    display:block;
    margin-bottom:10px;
    font-size: 102%;
}
input[type=radio]{
    -webkit-appearance:radio;
    margin: 5px 10px;
}

#mc_embed_signup {
    height: 161px;
    width: 300px;
    left: 330px;
    top: 140px;
    z-index: 5;
    margin: auto;
}
input, input[type="text"], input[type="email"] {
    border: 1px solid #6dc6d9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: white;
}
input.button {
    background-color: rgb(1, 117, 141);
    background-image: none;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: Open Sans;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 19px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 700;
    height: 54px;
    left: 0px;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-shadow: none;
    text-transform: none;
    /*top: 188px;*/
    vertical-align: middle;
    white-space: nowrap;
    width: 298px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
input.button:hover {
    background-color: #6dc6d9;
}

