html {height: 100%;}
/*block 1*/
.page-element .btn,
.page-element .contents,
.page-element.widget-form form,
.page-element.widget-form form input,
.page-element.widget-form form textarea,
.page-element.widget-form form select,
.page-element.widget-form form label
{
    font-family: Open Sans;
    font-weight: 400;
}

.page-element.widget-headline .contents h1,
.page-element.widget-headline .contents h2,
.page-element.widget-headline .contents h3,
.page-element.widget-headline .contents h4,
.page-element.widget-headline .contents h5,
.page-element.widget-headline .contents h6
{
    font-family: Ubuntu;
    font-weight: 500;
}

[id^=___plusone] { width:51px !important; }

div.social.lines [id^=___plusone] { width:62px !important; }
div.social.lines span[class^=IN-widget] { min-width:70px !important; }
div.social.buttons [id^=___plusone] { width:36px !important; }
div.social.buttons div[class^=fb-like] { width:58px !important; }
div.social.tiles [id^=___plusone] { height:63px !important; margin-top: 2px !important; }
div.social.tiles .fb-like iframe { margin-top: 1px !important; }

.widget-testimonial.style-1 .contents div.testimonial-text {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .notification > .notification-inner
    {
        width: auto;
        position: fixed;
        top: 40%;
        left: 1em !important;
        right: 1em !important;
        font-size: 24px;
    }
}

/* Safari only fix */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    .widget-form .select-outer select
    {
        padding-left: 10px;
    }

    .widget-form.mobile-form .select-outer select
    {
        padding-left: 10px;
    }
}
/*block 2*/
body {
    background-color: #ffffff;
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.page .page-block .block-inner { background-color: transparent; }
/*block 3*/
#element-86 {
    height: 18px;
    width: 959px;
    left: 0px;
    top: 308px;
    z-index: 3;
}

#element-86 p, #element-86 ul, #element-86 ol, #element-86 h1 {
    font-size: 13px;
    color: rgb(109, 198, 217);
    line-height: 18px;
    text-align: center;
}

#element-283
{
    height: 39px;
    width: 424px;
    left: 268px;
    top: 81px;
    z-index: 4;
}

#element-283 p, #element-283 ul, #element-283 ol, #element-283 h1
{
    font-size: 28px;
    color: rgb(88, 88, 88);
    line-height: 39px;
    text-align: center;
}

#element-378
{
    height: 42px;
    width: 424px;
    left: 268px;
    top: 56px;
    z-index: 5;
}

#element-378 p, #element-378 ul, #element-378 ol, #element-378 h1
{
    font-size: 30px;
    color: rgb(88, 88, 88);
    line-height: 42px;
    text-align: center;
}

#element-214
{
    height: 57px;
    width: 959px;
    left: 0px;
    top: 313px;
    z-index: 6;
}

#element-214 p, #element-214 ul, #element-214 ol, #element-214 h1
{
    font-size: 41px;
    color: rgb(119, 119, 119);
    line-height: 57px;
    text-align: center;
}

#element-381
{
    height: 22px;
    width: 578px;
    left: 191px;
    top: 238px;
    z-index: 7;
}

#element-386
{
    height: 434px;
    width: 607px;
    left: 176px;
    top: 145px;
    z-index: 8;
}

#element-389
{
    height: 116px;
    width: 391px;
    left: 284px;
    top: 66px;
    z-index: 9;
}

#element-389 p, #element-389 ul, #element-389 ol, #element-389 h1
{
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 39px;
    text-align: center;
}

#element-278
{
    height: 53px;
    width: 959px;
    left: 0px;
    top: 346px;
    z-index: 10;
}

#element-278 p, #element-278 ul, #element-278 ol, #element-278 h1
{
    font-size: 19px;
    color: rgb(0, 117, 141);
    line-height: 27px;
    text-align: center;
}

#element-395
{
    height: 36px;
    width: 959px;
    left: 0px;
    top: 301px;
    z-index: 11;
}

#element-395 p, #element-395 ul, #element-395 ol, #element-395 h1
{
    font-size: 26px;
    color: rgb(0, 117, 141);
    line-height: 36px;
    text-align: center;
}

#element-396
{
    height: 36px;
    width: 959px;
    left: 1px;
    top: 610px;
    z-index: 12;
}

#element-396 p, #element-396 ul, #element-396 ol, #element-396 h1
{
    font-size: 26px;
    color: rgb(0, 117, 141);
    line-height: 36px;
    text-align: center;
}

#element-397
{
    height: 53px;
    width: 959px;
    left: 1px;
    top: 654px;
    z-index: 13;
}

#element-397 p, #element-397 ul, #element-397 ol, #element-397 h1
{
    font-size: 19px;
    color: rgb(0, 117, 141);
    line-height: 27px;
    text-align: center;
}

#element-403
{
    height: 53px;
    width: 959px;
    left: 1px;
    top: 962px;
    z-index: 14;
}

#element-403 p, #element-403 ul, #element-403 ol, #element-403 h1
{
    font-size: 19px;
    color: rgb(0, 117, 141);
    line-height: 27px;
    text-align: center;
}

#element-404
{
    height: 36px;
    width: 959px;
    left: 1px;
    top: 919px;
    z-index: 15;
}

#element-404 p, #element-404 ul, #element-404 ol, #element-404 h1
{
    font-size: 26px;
    color: rgb(0, 117, 141);
    line-height: 36px;
    text-align: center;
}

#element-410
{
    height: 135px;
    width: 135px;
    left: 412px;
    top: 455px;
    z-index: 16;
}

#element-411
{
    height: 135px;
    width: 135px;
    left: 412px;
    top: 162px;
    z-index: 17;
}

#element-414
{
    height: 135px;
    width: 135px;
    left: 413px;
    top: 772px;
    z-index: 18;
}

#element-418
{
    height: 113px;
    width: 959px;
    left: 0px;
    top: 319px;
    z-index: 19;
}

#element-418 p, #element-418 ul, #element-418 ol, #element-418 h1
{
    font-size: 41px;
    color: rgb(119, 119, 119);
    line-height: 57px;
    text-align: center;
}

#element-420
{
    height: 172px;
    width: 204px;
    left: 377px;
    top: 95px;
    z-index: 20;
}

#element-437
{
    height: 111px;
    width: 960px;
    left: 0px;
    top: -42px;
    z-index: 21;
}

#element-438
{
    height: 56px;
    width: 268px;
    left: 346px;
    top: 676px;
    z-index: 22;
}

#element-439
{
    height: 36px;
    width: 127px;
    left: 417px;
    top: 60px;
    z-index: 23;
}

#element-441
{
    height: 36px;
    width: 113px;
    left: 424px;
    top: 123px;
    z-index: 24;
}

#element-443
{
    height: 36px;
    width: 126px;
    left: 418px;
    top: 186px;
    z-index: 25;
}

#element-446
{
    height: 34px;
    width: 119px;
    left: 561px;
    top: 27px;
    z-index: 26;
}

#element-448
{
    height: 34px;
    width: 108px;
    left: 426px;
    top: 27px;
    z-index: 27;
}

#element-449
{
    height: 34px;
    width: 121px;
    left: 279px;
    top: 27px;
    z-index: 28;
}

#element-456
{
    height: 658px;
    width: 356px;
    left: 301px;
    top: 97px;
    z-index: 29;
}


#page_block_header { height: 778px; }

#page_block_header .border-holder {
    background-image: url("21477051-0-Header-pic.jpg"), url("1507735311-21477051-ghost-Header-pic.jpg");
    background-color: #9dd0cf;

    background-repeat: repeat;
    background-position: bottom center;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 778px;

    background-attachment: fixed;
}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page_block_header .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: #0060ff;
    opacity: 0;
}

#page_block_header .block-inner
{
    margin-top: 0px;
}


#page-block-al03jim0q3 { height: 442px; }

#page-block-al03jim0q3 .border-holder
{
    background-image: none;
    background-color: #00758d;
    background-repeat: repeat;
    background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 442px;
}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-al03jim0q3 .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-al03jim0q3 .block-inner
{
    margin-top: 0px;
}
#page-block-p6ha51fax8t { height: 658px; }
#page-block-p6ha51fax8t .border-holder
{
    background-image: url("21645741-0-Product-1500.jpg"), url("1507735312-21645741-ghost-Product-1500.jpg");
    background-color: rgba(0,0,0,0);
    background-repeat: repeat;
    background-position: bottom center;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 658px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-p6ha51fax8t .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.49;
}

#page-block-p6ha51fax8t .block-inner
{
    margin-top: 0px;
}


#page-block-gqxahxbfw6bqhxgujrer35wmi { height: 1106px; }

#page-block-gqxahxbfw6bqhxgujrer35wmi .border-holder
{
    background-image: none;

    background-color: #ffffff;

    background-repeat: repeat;						background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 1106px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-gqxahxbfw6bqhxgujrer35wmi .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-gqxahxbfw6bqhxgujrer35wmi .block-inner
{
    margin-top: 0px;
}


#page-block-v8lwqdc7wrqg5djnwtz3q5mi { height: 501px; }

#page-block-v8lwqdc7wrqg5djnwtz3q5mi .border-holder
{
    background-image: none;

    background-color: #6dc6d9;

    background-repeat: repeat;
    background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 501px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-v8lwqdc7wrqg5djnwtz3q5mi .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-v8lwqdc7wrqg5djnwtz3q5mi .block-inner
{
    margin-top: 0px;
}


#page-block-wr8239qs6o { height: 889px; }

#page-block-wr8239qs6o .border-holder
{
    background-image: none;

    background-color: #ffffff;

    background-repeat: repeat;
    background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 889px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-wr8239qs6o .color-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#page-block-wr8239qs6o .block-inner
{
    margin-top: 0px;
}


#page-block-hvjz0psjsvyujtt9 { height: 338px; }

#page-block-hvjz0psjsvyujtt9 .border-holder
{
    background-image: none;

    background-color: #000000;

    background-repeat: repeat;
    background-position: top left;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;


    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;


    height: 338px;

}

@media only screen and (max-width: 770px) {
    .border-holder {
        background-attachment: scroll !important;
    }
}

#page-block-hvjz0psjsvyujtt9 .color-overlay
{
    display: none;
}

#page-block-hvjz0psjsvyujtt9 .block-inner
{
    margin-top: 0px;
}


@media
screen and (max-width: 620px),
screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1280px ) and (max-device-height: 720px),
screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) and ( max-device-width: 1000px )
{
    body
    {
        min-width: 400px;
        width: 100%;
    }
    .page.page2
    {
        width: 100%;
    }
    .page.page2 .block-inner
    {
        width: 400px;
        margin: 0 auto;
    }
    .page.page2.new-mobile-preview .block-inner
    {
        width: auto;
    }


    .widget-form .field-checkbox .field-element label:before,
    .widget-form .field-radio .field-element label:before
    {
        top: 16px;
    }
    .widget-form .field-checkbox .field-element label:after
    {
        top: 21px;
    }

    .widget-form .field-radio .field-element label:after
    {
        top: 16px;
    }

    .widget-form .select-outer
    {
        overflow: hidden;
        margin-bottom: 8px;
        margin-top: 8px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

    .widget-form .select-outer select
    {
        width: calc( 100% - 1px );
        height: 56px;
        border: 0;
        margin: 0;
        -webkit-appearance: none;
        line-height: 30px;
        border-style: solid;
        border-width: 1px;
        background-image: url('1488288753_select-arrow-drop-down.png' );
        background-position: right;
        background-repeat: no-repeat;
    }
    .widget-form .form-input[type="text"],
    .widget-form .form-input[type="password"],
    .widget-form .form-input[type="email"],
    .widget-form textarea.form-input
    {
        padding-top: 12px;
        padding-bottom: 9px;
        font-size: 20px;
        line-height: 22px;
        height: 56px;
        -webkit-appearance: none;
    }

    .widget-form .label-outside,
    .widget-form .outside-top,
    .widget-form .field-element label
    {
        font-size: 20px;
        line-height: 22px;
        padding-top: 12px;
        padding-bottom: 9px;
    }

    .widget-form select
    {
        font-size: 20px;
        height: 56px;
        padding-left: 9px;
        width: calc( 100% + 2px );
        -moz-padding-start: 5px;
    }

    .widget-form .input-holder.field-checkbox > label.outside-top,
    .widget-form .input-holder.field-radio > label.outside-top,
    .widget-form .field-container.edit.field-checkbox > label.label-outside,
    .widget-form .field-container.edit.field-radio > label.label-outside
    {
        margin-top: 8px;
        margin-bottom: 2px;
    }

    .widget-form .form-option-element label,
    .widget-form .field-element label
    {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: 0;
        margin-bottom: 0px;
    }

    .new_mobile .widget-form textarea.form-input.shortnice
    {
        height: 56px;
    }


    #element-449
    {
        height: 27.82px;
        width: 99px;
        left: 20px;
        top: 19px;
        z-index: 28;
    }

    #element-448
    {
        height: 28.02px;
        width: 89px;
        left: 155px;
        top: 19px;
        z-index: 27;
    }

    #element-446
    {
        height: 28px;
        width: 98px;
        left: 281px;
        top: 19px;
        z-index: 26;
    }

    #element-386
    {
        height: 270.98px;
        width: 379px;
        left: 20px;
        top: 176px;
        z-index: 8;
    }

    #element-438
    {
        height: 56px;
        width: 268px;
        left: 66px;
        top: 618px;
        z-index: 22;
    }

    #element-389
    {
        height: 81px;
        width: 360px;
        left: 20px;
        top: 50px;
        z-index: 9;
    }

    #element-389 p, #element-389 ul, #element-389 ol, #element-389 h1
    {
        font-size: 22px;
        color: rgb(255, 255, 255);
        line-height: 27px;
        text-align: center !important;
    }

    #element-381
    {
        height: 12px;
        width: 360px;
        left: 20px;
        top: 168px;
        z-index: 7;
    }

    #element-214
    {
        height: 70px;
        width: 360px;
        left: 20px;
        top: 220px;
        z-index: 6;
    }

    #element-214 p, #element-214 ul, #element-214 ol, #element-214 h1
    {
        font-size: 28px;
        color: rgb(119, 119, 119);
        line-height: 35px;
        text-align: center;
    }

    #element-283
    {
        height: 27px;
        width: 360px;
        left: 20px;
        top: 56px;
        z-index: 4;
    }

    #element-283 p, #element-283 ul, #element-283 ol, #element-283 h1
    {
        font-size: 22px;
        color: rgb(88, 88, 88);
        line-height: 27px;
        text-align: center;
    }

    #element-411
    {
        height: 135px;
        width: 135px;
        left: 132px;
        top: 139px;
        z-index: 17;
    }

    #element-395
    {
        height: 25px;
        width: 360px;
        left: 20px;
        top: 281px;
        z-index: 11;
    }

    #element-395 p, #element-395 ul, #element-395 ol, #element-395 h1
    {
        font-size: 21px;
        color: rgb(0, 117, 141);
        line-height: 25px;
        text-align: center;
    }

    #element-278
    {
        height: 42px;
        width: 360px;
        left: 20px;
        top: 320px;
        z-index: 10;
    }

    #element-278 p, #element-278 ul, #element-278 ol, #element-278 h1
    {
        font-size: 18px;
        color: rgb(0, 117, 141);
        line-height: 21px;
        text-align: center;
    }

    #element-410
    {
        height: 135px;
        width: 135px;
        left: 132px;
        top: 419px;
        z-index: 16;
    }

    #element-396
    {
        height: 25px;
        width: 360px;
        left: 20px;
        top: 577px;
        z-index: 12;
    }

    #element-396 p, #element-396 ul, #element-396 ol, #element-396 h1
    {
        font-size: 21px;
        color: rgb(0, 117, 141);
        line-height: 25px;
        text-align: center;
    }

    #element-397
    {
        height: 42px;
        width: 360px;
        left: 20px;
        top: 615px;
        z-index: 13;
    }

    #element-397 p, #element-397 ul, #element-397 ol, #element-397 h1
    {
        font-size: 18px;
        color: rgb(0, 117, 141);
        line-height: 21px;
        text-align: center;
    }

    #element-414
    {
        height: 135px;
        width: 135px;
        left: 132px;
        top: 718px;
        z-index: 18;
    }

    #element-404
    {
        height: 25px;
        width: 360px;
        left: 20px;
        top: 868px;
        z-index: 15;
    }

    #element-404 p, #element-404 ul, #element-404 ol, #element-404 h1
    {
        font-size: 21px;
        color: rgb(0, 117, 141);
        line-height: 25px;
        text-align: center;
    }

    #element-403
    {
        height: 42px;
        width: 360px;
        left: 20px;
        top: 905px;
        z-index: 14;
    }

    #element-403 p, #element-403 ul, #element-403 ol, #element-403 h1
    {
        font-size: 18px;
        color: rgb(0, 117, 141);
        line-height: 21px;
        text-align: center;
    }

    #element-437
    {
        height: 46.02px;
        width: 398px;
        left: 0px;
        top: -1px;
        z-index: 21;
    }

    #element-420
    {
        height: 172px;
        width: 204px;
        left: 98px;
        top: 121px;
        z-index: 20;
    }

    #element-418
    {
        height: 105px;
        width: 360px;
        left: 20px;
        top: 353px;
        z-index: 19;
    }

    #element-418 p, #element-418 ul, #element-418 ol, #element-418 h1
    {
        font-size: 28px;
        color: rgb(119, 119, 119);
        line-height: 35px;
        text-align: center;
    }

    #element-378
    {
        height: 28px;
        width: 360px;
        left: 20px;
        top: 40px;
        z-index: 5;
    }

    #element-378 p, #element-378 ul, #element-378 ol, #element-378 h1
    {
        font-size: 23px;
        color: rgb(88, 88, 88);
        line-height: 28px;
        text-align: center;
    }

    #element-456
    {
        height: 200px;
        width: 360px;
        left: 20px;
        top: 447px;
        z-index: 29;
    }

    #element-439
    {
        height: 35.72px;
        width: 126px;
        left: 137px;
        top: 40px;
        z-index: 23;
    }

    #element-441
    {
        height: 35.68px;
        width: 112px;
        left: 144px;
        top: 106px;
        z-index: 24;
    }

    #element-443
    {
        height: 35.71px;
        width: 125px;
        left: 137px;
        top: 172px;
        z-index: 25;
    }

    #element-86
    {
        height: 18px;
        width: 360px;
        left: 20px;
        top: 292px;
        z-index: 3;
    }

    #element-86 p, #element-86 ul, #element-86 ol, #element-86 h1
    {
        font-size: 13px;
        color: rgb(109, 198, 217);
        line-height: 18px;
        text-align: center;
    }


    #page_block_header { height: 741px; }

    #page_block_header .border-holder
    {
        background-image: url("21477051-0-Header-pic.jpg"), url("1507735311-21477051-ghost-Header-pic.jpg");
        background-color: #9dd0cf;

        background-repeat: repeat;
        background-position: bottom center;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 741px;

        background-attachment: fixed;
    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page_block_header .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: #0060ff;
        opacity: 0;
    }

    #page_block_header .block-inner
    {
        margin-top: 0px;
    }


    #page-block-al03jim0q3 { height: 343px; }

    #page-block-al03jim0q3 .border-holder
    {
        background-image: none;

        background-color: #00758d;

        background-repeat: repeat;
        background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 343px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-al03jim0q3 .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-al03jim0q3 .block-inner
    {
        margin-top: 0px;
    }


    #page-block-p6ha51fax8t { height: 400px; }

    #page-block-p6ha51fax8t .border-holder
    {
        background-image: url("21637856-0-Product-Mobile.png");
        background-color: rgba(0,0,0,0);

        background-repeat: no-repeat;
        background-position: center center;

        background-size:auto;
        -webkit-background-size:auto;
        -moz-background-size:auto;
        -o-background-size:auto;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 400px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-p6ha51fax8t .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.49;
    }

    #page-block-p6ha51fax8t .block-inner
    {
        margin-top: 0px;
    }


    #page-block-gqxahxbfw6bqhxgujrer35wmi { height: 1020px; }

    #page-block-gqxahxbfw6bqhxgujrer35wmi .border-holder
    {
        background-image: none;

        background-color: #ffffff;

        background-repeat: repeat;
        background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 1020px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-gqxahxbfw6bqhxgujrer35wmi .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-gqxahxbfw6bqhxgujrer35wmi .block-inner
    {
        margin-top: 0px;
    }


    #page-block-v8lwqdc7wrqg5djnwtz3q5mi { height: 563px; }

    #page-block-v8lwqdc7wrqg5djnwtz3q5mi .border-holder
    {
        background-image: none;

        background-color: #6dc6d9;

        background-repeat: repeat;
        background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 563px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-v8lwqdc7wrqg5djnwtz3q5mi .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-v8lwqdc7wrqg5djnwtz3q5mi .block-inner
    {
        margin-top: 0px;
    }


    #page-block-wr8239qs6o { height: 868px; }

    #page-block-wr8239qs6o .border-holder
    {
        background-image: none;

        background-color: #ffffff;

        background-repeat: repeat;
        background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 868px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-wr8239qs6o .color-overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-wr8239qs6o .block-inner
    {
        margin-top: 0px;
    }


    #page-block-hvjz0psjsvyujtt9 { height: 331px; }

    #page-block-hvjz0psjsvyujtt9 .border-holder
    {
        background-image: none;

        background-color: #000000;

        background-repeat: repeat;
        background-position: top left;

        background-size:cover;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;


        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;


        height: 331px;

    }

    @media only screen and (max-width: 770px) {
        .border-holder {
            background-attachment: scroll !important;
        }
    }

    #page-block-hvjz0psjsvyujtt9 .color-overlay
    {
        display: none;
    }

    #page-block-hvjz0psjsvyujtt9 .block-inner
    {
        margin-top: 0px;
    }

}

@media
screen and (min-width: 621px)  and (-webkit-max-device-pixel-ratio: 1.5),
screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5)
{
    .new_mobile .page.page2.mobile .block-inner
    {
        width: 960px;
    }
}
/*block 4*/
#mc_embed_signup input.mce_inline_error {
    border-color:#6B0505;
}
#mc_embed_signup div.mce_inline_error {
    margin: 0 0 1em 0;
    padding: 5px 10px;
    background-color:#6B0505;
    font-weight: bold;
    z-index: 1; color:#fff;
}
